<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Buyer</title>
        <div th:include="header"><</div>
    </head>

    <body>
        <!--start navbar-->
        <div th:include="navbar"><</div>
        <!--end navbar-->

        <div class="container theme-showcase" role="main">

            <!-- Main jumbotron for a primary marketing message or call to action -->
            <div class="jumbotron">
                <form action="#" th:action = "@{/buyer}" th:object = "${requestToBuyForm}" method="post">
                <h1>Buyer</h1>
                <p>The place where buyer place Want To Buy Ads</p>
                <select th:field="*{buyerId}">
                    <option th:each="buyerSelect : ${buyers}" th:value="${buyerSelect.id}" th:text="${buyerSelect.name}"></option>
                </select>
                <select th:field="*{itemId}">
                    <option th:each="itemSelect : ${items}" th:value="${itemSelect.id}" th:text="${itemSelect.name}"></option>
                </select>
                <p><input type="submit" value="Submit" /></p>

                </form>

            </div>

        </div> <!-- /container -->
        <div th:include="tail"><</div>
    </body>
</html>