<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Deals</title>
        <div th:include="header"><</div>
    </head>

    <body>
        <!--start navbar-->
        <div th:include="navbar"><</div>
        <!--end navbar-->

        <div class="container theme-showcase" role="main">

            <!-- Main jumbotron for a primary marketing message or call to action -->
            <div class="jumbotron">
                <h1>Current Deals</h1>
                <p>All the deals currently in progress</p>
            </div>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>User</th>
                    <th>Items</th>
                    <th>??</th>
                    <th>??</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="rtb: ${deals}">
                    <td th:text="${rtb.id}"></td>
                    <td th:text="${rtb.user.name}"></td>
                    <td>??</td>
                    <td>??</td>

                    <td>
                        <a href="/vendorAcceptRTB"
                           th:href="@{/vendorAcceptRTB(id=${rtb.id})}">Accept</a>
                    </td>
                </tr>
                </tbody>
            </table>

        </div> <!-- /container -->

        <div th:include="tail"><</div>
    </body>
</html>